.newsletter-section{
    background-color: #D9D9D9;
    width: 100%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;

    h4{
        margin-left: auto;
        margin-right: auto;
        font-size: 2rem;
        width: 90%;
        text-align: center;
        padding-top: 3em;
        line-height: 1.4;
    }
}

.newsletter-box{
    margin: 1em;
    justify-content: center;
    align-items: center;
    display: flex;

    .input-email{
        justify-content: center;
        align-items: center;
        width: 240px;
        height: 40px;
        margin-right: 0.5em;
    }
    .send-button{
        object-fit: cover;
        width: 80px;
        height: 44px;
        border: 1px solid #444;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.3s ease-in-out;
        
        &:hover{
            cursor: pointer;
            background-color: #444;
            color: #f1f1f1;
            transition: 0.3s ease-in-out;
        }
    }
}

@media screen and(min-width: 860px) {
    .newsletter-section {
        height: 60vh;
    }
    .newsletter-box{
        .input-email{
            width: 420px;
        }
    }
}