@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');

.text {
    cursor: default;
    h4{
        font-size: 1.5rem;
        text-align: center;
        color: #444;
        text-transform: uppercase;
        letter-spacing: 1px; 
    } 
} 
a{ 
    text-decoration: none; 
    color: #2b2b2b; 
}

.explore-section{
    justify-content: center !important;
    align-items: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    flex-direction: column;
}

.explore-options{
    justify-content: center;
    align-items: center;
    margin: 1em;
    display: flex;
    flex-direction: column;
}
.search-bar{
    margin-top: 3em;
    margin-bottom: 3em;

    #outlined-basic{
        width: 250px;
    }
}

.our-options{
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 5em;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2.5em;
}

.img-card{
    width: 140px;
    height: 190px;
    object-fit: cover;
    transition: 0.3s ease-in-out;
    padding: 0.4em;
    border: 1px solid #d3d3d3;

    &:hover{
        cursor: pointer;
        transition: 0.3s ease-in-out;
        filter: brightness(0.85);
        border: 1px solid #b5ab84;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
}
}
.text-item-card{
    cursor: default;
    margin-bottom: 3em;
    object-fit: cover;
    width: 155px;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
}
.ninth-item{
    display: none;
}
.numbered-pages{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin-bottom: 5em;
}
.numbered-page{
    background: none;
    border: none;
    font-size: 0.8rem;
    margin: 1em;
    transition: 0.3s ease-in-out;

    a{
        text-decoration: none;
        color: #444;
    }

    &:hover{
        transition: 0.3s ease-in-out;
        background-color: #dcdcdc;
        border-radius: 30px;
    }
}
.active-page{
    background-color: #dcdcdc;
    border-radius: 30px;
}


@media screen and (min-width:450px) {

    .our-options{
        gap: 2.5em;
    }
    .img-card{
        width: 185px;
        height: 240px;
        object-fit: cover;
    }
    
    .text-item-card{
        margin-bottom: 3em;
        object-fit: cover;
        width: 185px;
        display: flex;
        font-size: 0.8rem;
        justify-content: space-between;
    }
}

@media screen and (min-width:550px) {
    .text {
        margin: 1em;
        margin-top: 4em;
        p{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (min-width:660px) {
    .our-options{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3.5em;
    }

    .img-card{
        width: 155px;
        height: 210px;
    }
    .text-item-card{
        width: 155px;
    }

}

@media screen and (min-width:810px) {
    .text {
        p{
            width: 70%;
            text-align: center;
        }
    }
    .our-options{
        gap: 3em;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
    }

    .img-card{
        justify-content: center !important;
        align-items: center !important;
        width: 175px;
        height: 240px;
    }
    .text-item-card{
        width: 185px;
    }

    .ninth-item{
        display: unset;
    }
}