.newsletter-section {
  background-color: #f1f1f1 !important;
  width: 100%;
  height: 97vh;
}
.newsletter-section .newsletter-h4 {
  margin-top: 3em !important;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  text-transform: capitalize;
}

.newsletter-box {
  margin: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
}
.newsletter-box .input-email {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  margin-right: 0.5em;
}
.newsletter-box .send-button {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80px;
  height: 36px !important;
  background-color: #f5f5f5;
  border: 1px solid #444;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #191919;
  transition: 0.3s ease-in-out;
}
.newsletter-box .send-button:hover {
  cursor: pointer;
  color: #f1f1f1;
  background-color: #080808 !important;
  transition: 0.3s ease-in-out;
}

.left-newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
}
.left-newsletter .newsletter-p {
  color: #d6a566;
  font-size: 1.1rem;
  margin-top: 0 !important;
}

.image-newsletter-container {
  width: 100vw;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

.circle-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.5);
}

@media screen and (min-width: 800px) {
  .newsletter-section {
    background-color: #f1f1f1 !important;
    width: 100%;
    height: 60vh;
    display: flex;
    overflow: hidden;
  }
  .newsletter-section .newsletter-h4 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
    width: 90%;
    text-align: center;
    line-height: 1.4;
    margin: 0;
  }
  .newsletter-box {
    margin: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .newsletter-box .input-email {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    margin-right: 0.5em;
  }
  .newsletter-box .send-button {
    -o-object-fit: cover;
       object-fit: cover;
    width: 80px;
    height: 36px !important;
    background-color: #f5f5f5;
    border: 1px solid #444;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #191919;
    transition: 0.3s ease-in-out;
  }
  .newsletter-box .send-button:hover {
    cursor: pointer;
    background-color: #363636 !important;
    transition: 0.3s ease-in-out;
  }
  .newsletter-section {
    justify-content: space-between !important;
  }
  .newsletter-box .input-email {
    width: 320px !important;
    height: 30px !important;
  }
  .left-newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 4em;
    margin-bottom: 2em;
  }
  .left-newsletter .newsletter-h4 {
    text-transform: capitalize;
  }
  .left-newsletter .newsletter-p {
    color: #d6a566;
    font-size: 1.1rem;
    margin-top: 0 !important;
  }
  .image-newsletter-container {
    width: 470px;
    height: 60vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: auto;
    overflow: hidden;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
  }
  .circle-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transform: scale(1.5);
  }
}/*# sourceMappingURL=Newsletter.css.map */