.header {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.7em;
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: none;
  transition: 0.5s ease-in-out;
}

.white-links li a {
  color: #e3e3e3;
}

.black-links li a {
  color: #212121 !important;
}

.black-links {
  color: #343333 !important;
}
.black-links svg path {
  fill: #313131 !important;
}

li.black a {
  color: #212121;
}

li.white a {
  color: #e7e7e7;
}

.scroll {
  transition: 0.5s ease-in-out;
  background-color: #fff !important;
  width: 100%;
  color: #212121;
  fill: #212121;
}
.scroll .mobile-logo svg path {
  fill: #343333 !important;
}
.scroll .menu-button {
  color: #343333;
}
.scroll .logo svg path {
  fill: #343333 !important;
}
.scroll a {
  color: #000 !important;
}
.scroll .nav-link {
  position: relative;
}
.scroll .nav-link::before {
  content: "";
  position: absolute;
  bottom: -20%;
  width: 20%;
  height: 1.5px;
  background-color: #212121;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.3s;
}
.scroll .nav-link:hover::before {
  transform: scale(1);
}
.scroll .active {
  position: relative;
}
.scroll .active::after {
  content: "";
  position: absolute;
  bottom: -20%;
  width: 20%;
  height: 1.5px;
  background-color: #212121;
  transform: scale(1);
  left: 18%;
  transform-origin: left;
  transition: transform 0.3s;
}

.navbar {
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  position: relative;
}
.active::after {
  content: "";
  position: absolute;
  bottom: -20%;
  width: 20%;
  height: 1.5px;
  background-color: #e7e7e7;
  transform: scale(1);
  left: 18%;
  transform-origin: left;
  transition: transform 0.3s;
}

button {
  background: none;
  border: none;
}

.logo {
  display: none;
}

.mobile-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-menu .open {
  transform: translate(0%) !important;
}

.nav-links.open {
  transform: translateX(0%) !important;
}

.nav-links {
  top: 0 !important;
  position: fixed;
  right: 0;
  top: 0;
  background: #fafafa;
  z-index: 999;
  height: 100vh;
  color: black;
  width: 100%;
  transform: translateX(100%);
}
.nav-links ul {
  list-style: none;
  padding: 0;
}
.nav-links ul a {
  padding-left: 2em !important;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  color: #212121;
  width: 100%;
  font-size: 0.8rem;
  transition: all ease 0.4s;
  font-family: "Poppins Medium";
}
.nav-links ul a:hover {
  transition: all ease 0.4s;
}
.nav-links .mobile-link-logo {
  display: none;
}
.nav-links .close {
  cursor: pointer;
  width: 2em;
  top: 20;
  margin: 2em;
}

.menu-button {
  color: #fff;
  font-size: 2.2rem;
  cursor: pointer;
  margin-right: 0.8em !important;
}

@media screen and (min-width: 900px) {
  header {
    top: 0;
    z-index: 999;
    width: 100%;
  }
  .mobile-logo {
    display: none;
  }
  .mobile-link-logo {
    display: unset !important;
  }
  .logo {
    display: block;
    margin-left: 3em;
    margin-right: 1em;
  }
  .logo svg path {
    fill: #e3e3e3 !important;
  }
  .nav-links {
    background: none !important;
  }
  .black-links svg path {
    fill: #313131 !important;
  }
  .nav-link {
    position: relative;
    padding: 0;
    margin: 0;
  }
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: -20%;
    width: 20%;
    height: 1.5px;
    background-color: #f0f0f0;
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.3s;
  }
  .nav-link:hover::before {
    transform: scale(1);
  }
  .menu-button {
    display: none;
  }
  .close {
    display: none;
  }
  nav {
    top: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    height: 80px !important;
    display: flex;
    transform: translateX(0) !important;
    justify-content: center;
    align-items: center;
    background: transparent !important;
    z-index: 999;
  }
  nav .womens-clothes {
    padding-right: 3em !important;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    margin-right: auto !important;
  }
  nav ul a {
    color: #f1f1f1 !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 1em !important;
    margin-right: 1.5em !important;
    font-size: 0.7rem;
    padding-left: 0 !important;
  }
}/*# sourceMappingURL=Header.css.map */