@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

.most-viewed-section{
    width: 100%;
    height: auto;
    margin-bottom: 5em;

    .h3-items{
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1.2em;
    }
}
.secondary-item{
    display: none;
}
.image-container{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
    
    .next{
        padding-left: 1em;
    }
}
.product-container{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-left: 1em;

    .image-container img{
    width: 245px;
    height: 340px;
    object-fit: cover;
    }
}

.next{
    cursor: pointer;
}
.pricing-name{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 245px;
    object-fit: cover;
    cursor: default;

    .price{
        font-size: 0.9rem;
    }

    .item-name{
        justify-content: center;
        align-items: center;
        .item{
            font-family: 'Lato Regular';
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 0.8rem;
        }
    }
}
.description-container{
    width: 245px;
}
.line{
    position: relative;
    top: -30px;
}
.see-more-button {
    display: grid;
    justify-content: center;
    align-items: center;
    button{
        font-family: 'Lato Regular';
        background: none;
        border: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        top: -27px;
        font-size: 0.8rem;
        cursor: pointer;
    }
}

@media screen and (min-width: 800px) {
    .product{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8em;
    }    
    .next{
        display: none;
    }
    .most-viewed-section{
        justify-content: center;
        align-items: center;
    }
    .image-container img{
        width: 205px !important;
        height: 290px !important;
    }
    .description-container{
        width: 205px !important;
    }
    .pricing-name{
        width: 205px !important;
    }
    .line{
        position: relative;
        top: -30px;
    }
}
